<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaman.mybatis.mapper.AuthorMapper">

    <select id="selectAuthor" resultType="com.javaman.mybatis.pojo.Author">
        SELECT * FROM tb_author where id=1;
    </select>
    <select id="selectAuthorList" resultType="com.javaman.mybatis.pojo.Author">
              SELECT * FROM tb_author ;
    </select>

    <insert id="insertAuthorNoPrimaryKey">
  insert into tb_author (id,username,password,email)
  values (#{id},#{username},#{password},#{email})
</insert>
</mapper>